<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.Company.ProductName">
  <application android:icon="@drawable/app_icon" android:label="@string/app_name">
    <activity android:name="org.artoolkit.ar.unity.UnityARPlayerActivity"
              android:label="@string/app_name"
              android:screenOrientation="landscape"
              android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <receiver
        android:name="com.badran.bluetoothcontroller.BtInterface"
        android:enabled="true">
        <intent-filter>
          <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
          <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
          <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
          <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED" />
          <action android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED" />
          <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
          <action android:name="android.bluetooth.device.action.FOUND" />
        </intent-filter>
      </receiver>

      <receiver
           android:name="com.badran.bluetoothcontroller.Bridge"
           android:enabled="true">
        <intent-filter>
          <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
        </intent-filter>
      </receiver>

      <meta-data android:name="android.app.lib_name" android:value="unity" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
    </activity>
    <activity android:name="org.artoolkit.ar.base.camera.CameraPreferencesActivity"></activity>
  </application>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-feature android:name="android.hardware.camera.any" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


</manifest>